@import "tailwindcss";

@font-face{
    font-family: "SaaSeries";
    src: url("./assets/fonts/SaaSeriesEMDOT.ttf") format(truetype);
}

@font-face{
    font-family: "SaaSeriesF";
    src: url("./assets/fonts/SaaSeriesFDOT.ttf") format(truetype);
} 

@font-face{
    font-family: "Zeogari";
    src: url("./assets/fonts/Zeogari.ttf") format(truetype);
}

@font-face{
    font-family: "ArboriaBook";
    src: url("./assets/fonts/ArboriaBook.ttf") format(truetype);
}